

.body {
    font-family: 'Nunito Sans', sans-serif;
    
}
.header {
    position: sticky;
    top: 0;
    z-index: 10;
}
.header, .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313;
}
.header_container, .footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    
    width: 1256px;
    background-size: cover;
}
.logo {
    width: 179px;
    margin-right: 25px;
}
.logo a {
    font-size: 11px;
    color: rgba(227, 184, 115, 1);
    text-transform: uppercase;
    text-decoration: none;
}
.header_navigation, .footer_navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}
.navigation {
    width: 581px;
}
.header_navigation_item, .footer_navigation_item {
    font-size: 11px;
    padding: 0px;
}
.item_link {
    color: white;
    text-decoration: none;
}
.item_link:hover {
    color: rgba(227, 184, 115, 1);
}
.header_contact, .footer_contact {
    font-size: 11px;
    margin-left: 20px;
    margin-right: -15px;
    color:rgba(227, 184, 115, 1);
}
.button {
    cursor: pointer;
    padding: 13px 33px;
    background-color: rgba(227, 184, 115, 1);
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-style: italic;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    outline: 0;
    
}
.start {
    background-image: url(../image/first_image.jpg);
    height: 707px;
    background-size: cover;
}
.background_start {
    background-color: rgba(0, 0, 0, 0.7);
    height: 707px;
    background-size: cover;
}

.start_container {
    
    display: flex;
    flex-direction: column;
    width: 676px;
    height: 305px;
    padding-top: 194px;
    padding-left: 134px;
    padding-right: 627px;
    padding-bottom: 208px;
    margin: 0 auto;
    
}
.start_tittle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    margin: 0;
    height: 105px;
    color: rgba(255, 255, 255, 1);
}
.tittle_rostov {
    color: rgba(227, 184, 115, 1);
}
.start_text {
    margin-bottom: 41px;
    width: 504px;
    height: 89px;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}
.start_buttons {
    display: flex;
}
.button_calculate {
    cursor: pointer;
    background: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    font-size: 11px;
    font-style: italic;
    outline: 0;
    border: 0;
    height: 51px;
    width: 207px;
    margin-right: 20px;
}
.button_submit {
    cursor: pointer;
    background-color: transparent;
    height: 51px;
    width: 207px;
    color: white;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.slider_container {
    background-color: rgba(19, 19, 19, 1);
    height: 1074px;
}
.slider_base {
    display: flex;
    padding-left: 134px;
    padding-right: 134px;
    padding-top: 107px;
    width: 1171px;
    height: 552px;
    margin: 0 auto;
}
.base_info {
    width: 442px;
    
}
.info_tittle {
    margin-top: 69px;
    margin-bottom: 34px;
    height: 66px;
    width: 253px;
    color: rgba(227, 184, 115, 1);
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}
.tittle_text {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 0;
}
.first_text {
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-top: 42px;
    
}
.last_text {
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    margin-top: 34px;
}
.base_subtittle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
}
.text_info {
    margin-top: 9px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
.base_decor {
    margin-left: 50px;
}
.decor_tittle {
    display: flex;
}
.swiper_tittle {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    margin-top: 0;
    margin-bottom: 7px;
}
.swiper_tittle:hover {
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid rgba(227, 184, 115, 1);
    padding-bottom: 6px;
    color: rgba(227, 184, 115, 1);
    margin-bottom: 0;
}
.swiper_tittle:not(:last-child){
    margin-right: 60px;
}
.decor_image {
    width: 679px;
    height: 482px;
    margin-top: 45px;
}
.base_swipper {
    margin-top: 74px;
}
.swipper_icon:not(:last-child) {
    margin-right: 29px;
}
.slider_control {
    width: 196px;
    height: 66px;
    padding: 92px 620px 0 623px;
    margin: 0 auto;
}
.control_tittle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 14px;
    margin-top: 0;
}
.control_icon {
    margin: 0 auto;
    width: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.video_container {
    margin-top: -217px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.background_play{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 434px;
    width: 817px;
    background-color: rgba(0, 0, 0, 0.8);
}
.video_background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 434px;
    width: 817px;
    background-image: url(../image/video.png);
}
.under_video_line {
    margin-top: 62px;
}
.text_under_video {
    margin-top: 34px;
    width: 681px;
    height: 130px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}
.text_input {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    margin: 0;
}
.inputs {
    margin-top: 91px;
    display: flex;
    width: 769px;
    justify-content: space-between;
}
.input {
    background: transparent;
    width: 231px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    outline: none;
    font-size: 14px;
    line-height: 23px;
}
.input::placeholder {
    color: #363636;
}
.button_input_submit {
    cursor: pointer;
    width: 200px;
    height: 51px;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}
.checkbox_personal {
    margin-top: 37px;
    width: 286px;
    height: 20px;
    display: flex;
    
    
}
.checkbox_personal_2 {
    margin-top: 16px;
    margin-left: 49px;
    width: 286px;
    height: 20px;
    display: flex;

}
.label {
    cursor: pointer;
}
.checkbox {
   display: none;
}
.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    justify-content: center;
    border-radius: 1px;
}
.fake::before {
    position: relative;
    top: -2px;
    content: url(../image/checkbox.svg);
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}

.checkbox_text {
    position: relative;
    top: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #181818;
    margin: 0 0 0 8px;

}
.checkbox_text_2 {
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 0 0 8px;

}
.repair_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.repair_types {
    margin-top: 75px;
    width: 257px;
    height: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.types_tittle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
    margin: 0;
}
.types_icon {
    margin-top: 13px;
    width: 114px;
    height: 28px;
    display: flex;
    justify-content: space-between;
}
.repair_rooms {
    width: 1236px;
    height: 608px;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}
.list {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 286px;
    background-color: white;
    margin-top: -125px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.list_table {
    margin-top: 2px;
    width: 267px;
    height: 178px;
    margin-bottom: 54px;
    
}
.list_subtittle {
    margin-bottom: 0;
    padding-left: 27px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.list_text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}
.room {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_rooms {
    cursor: pointer;
    width: 228px;
    height: 54px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    border:none;
    position: relative;
    right: 51px;
    top: -27px;
}
.measurement {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.measurement_container {
    margin-top: 127px;
    display: flex;
    

}
.background_steps {
    background-image: url(../image/Background_steps.jpg);
    width: 703px;
    height: 645px;

}
.steps {
    margin-top: 62px;
    margin-left: 238px;
    height: 489px;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    
    
}
.step {
    display: flex;
    align-items: center;
}
.step_number {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    
    
}
.circle_step {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
}
.step_text {
    margin-left: 8px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}
.inputs_recording {
    margin: 39px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 408px;
    height: 244px;
}
.request {
    position: relative;
    top: 51px;
    margin-left: 131px;
    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.request_text {
    padding-top: 27px;
    margin: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}
.request_text_input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
.input_request {
    width: 408px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.input_request::placeholder {
    color: #FFFFFF;
}
.button_recording {
    margin-top: 39px;
    margin-left: 244px;
    cursor: pointer;
    width: 213px;
    height: 51px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
}
.pig {
    margin-top: 51px;
    margin-left: 13px;
    display: flex;
    align-items: center;

}
.pig_text {
    position: relative;
    top: -10px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.fantastic {
    height: 864px;
    background-size: cover;
    background-image: url(../image/background_fantastic.png);
}
.background_fantastic {
    height: 864px;
    background-size: cover;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}
.fantastic_container {
    display: flex;
    justify-content: center;
    margin-top: 242px;
}
.tittle_fantastic_list {
    margin-top: 137px;
    margin-left: 99px;
    margin-bottom: 63px;
    width: 411px;
    height: 66px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;

}
.fantastic_choise {
    height: 516px;
}
.choise_list {
    margin-left: 59px;
    display: table;
    margin-bottom: 23px;
    list-style-type: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 2px;
    line-height: 26px;
    color: #FFFFFF;
}
.choise_list:hover {
    margin-bottom: 22px;
    border-bottom: 1px solid#E3B873;
    cursor: pointer;
    color: #E3B873;
}
.images_fantastic_1 {
    height: 945px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -41px;
    margin-left: 77px;
}
.images_fantastic_2 {
    height: 936px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -113px;
    margin-left: 43px;
}
.team_container {
    height: 1106px;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our_clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tittle_clients {
    margin-bottom: 17px;
    width: 257px;
    height: 27px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.logo_clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 113px;
}
.our_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}
.team_people {
    display: flex;
    justify-content: space-between;
    width: 1236px;
}
.card_people {
    margin-top: 39px;
    width: 376px;
    height: 428px;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.name_people {
    padding-top: 24px;
    margin-left: 20px;
    width: 277px;
    display: flex;
    justify-content: space-between;
}
.tittle_name {
    width: 178px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}
.card_people_text {
    margin-left: 20px;
    margin-top: 22px;
    width: 324px;
    height: 239px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}
.card_people_button {
    margin-top: 34px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 293px;
    height: 54px;
    border: none;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}
.people_button_text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.city {
    position: relative;
    z-index: -1;
    margin-top: -50px;
    opacity:.05;
}
.questions {
    display: flex;
    justify-content: center;
    
}
.questions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -291px;
    width: 883px;
    height: 445px;
    background: black;
}
.questions_tittle {
    margin-top: 34px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}
.questions_inputs {
    display: flex;
    justify-content: space-between;
    width: 520px;
}
.input_question, .input_question_3 {
    width: 231px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.15);
    margin-bottom: 48px;
    
}
.input_question::placeholder {
    color: #FFFFFF;
}
.input_question_3 {
    width: 516px;
}
.input_question_3::placeholder {
    color: #FFFFFF;
}
.submit_questions {
    margin-top: 50px;
}
.finish_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -206px;
    height: 953px;
    background-size: cover;
    background-image: linear-gradient(180deg, rgb(10, 10, 10) 3.47%, rgba(16, 16, 16, 0.72) 100%), url(../image/background_finish.png);
}
.finish_tittle {
    margin: 0 0 26px 0;
    padding-top: 255px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}
.finish_icons {
    width: 71px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
}
.footer_container {
    height: 133px;
}
.slide_mobile {
    display: none;
}
@media screen and (max-width: 480px) {
    .navigation, .button {
        display: none;
    }
    .header_container {
        height: 57px;
        width: 375px;
        display: flex;
        justify-content: space-around;
    }
    .header_contact, .footer_contact {
        color: white;
        text-decoration: none;
        margin: 0;
        margin-right: -33px;
    }
    .logo {
        margin: 0;
        margin-left: 8px;
        width: 176px;
    }
    .start_container {
        padding: 0;
        width: 375px;
        height: 476px;
    }
    .start_tittle {
        width: 339px;
        height: 60px;
        margin-left: 18px;
        margin-top: 85px;
        font-size: 23px;
        line-height: 31px;
    }
    .start_text {
        text-align: start;
        margin-left: 18px;
        width: 339px;
        height: 94px;
        font-size: 14px;
        line-height: 19px;
    }
    .start_buttons {

        height: 128px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .button_calculate, .button_submit {
        margin-left: 18px;
        width: 338px;
        border-radius: 0;
    }
    .start {
        height: 476px;
        background-image: url(../image/start_background_mobile.png);
    }
    .slider_base {
        width: 375px;
        padding: 0;
    }
    .decor_image {
        display: none;
    }
    .info_tittle {
        margin: 0;
        margin-top: 36px;
        margin-left: 75px;
        width: 229px;
        height: 66px;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -0.07em;
        text-transform: uppercase;
    }
    .slider_base {
        display: flex;
        flex-direction: column;
    }
    .tittle_text {
        
        width: 311px;
        font-size: 11px;
        line-height: 158.48%;
        text-align: center;
        margin-left: 32px;
        margin-top: 22px;
    }
    .slide_mobile {
        margin-top: 74px;
        margin-left: 18px;
        background-image: url(../image/mobile_slide_image.png);
        background-size: cover;
        width: 340px;
        height: 241px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .arrow_mobile {
        margin: 0 14px;
    }
    .base_subtittle {
        font-size: 14px;
        line-height: 138.6%;
    }
    .first_text {
        margin-left: -26px;
        justify-content: space-around;
    }
    .last_text {
        justify-content: space-around;
        margin-left: -12px;
    }
    .text_4 {
        margin-left: 20px;
    }
    .slider_container {
        display: flex;
        flex-direction: column;

    }
    .base_swipper {
        display: none;
    }
    .decor_tittle {
        display: none;
    }
    .slider_control {
        margin-top: 184px;
        padding: 0;
    }
    .control_tittle {
        font-size: 22px;
    }
    .background_play {
        width: 340px;
        height: 207px;
    }
    .video_background {
        background-image: url(../image/mobile_play_background.png);
        width: 340px;
        height: 207px;
    }
    .video_play {
        width: 59px;
        height: 59px;
    }
    .video_container {
        background-color: black;
    }
    .under_video_line {
        display: none;
    }
    .text_under_video {
        width: 340px;
        height: 106px;
        font-size: 11px;
        line-height: 169.8%;
        text-align: center;
        color: #FFFFFF;
    }
    .inputs {
        height: 311px;
        width: 340px;
        display: flex;
        flex-direction: column;

    }
    .text_input {
       color: rgba(255, 255, 255, 0.5)
    }
    .input {
        width: 340px;
        border-color: rgba(255, 255, 255, 1);
    }
    .input::placeholder {
        color: white;
    }
    .checkbox_personal {
        position: relative;
        right: 26px;
        top: -146px;
    }
    .checkbox_text {
        color: #FFFFFF;
    }
    .button_input_submit {
        position: relative;
        top:82px;
        width: 340px;
        border-radius: 0;
    }
     
    

    
}